@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

#msg{
    margin-top: 10px;
}

#feed{
    margin-bottom: 6px;
}
#email{
    margin-top: 10px;
}
#nm{
    margin-top: 10px;
}
#env{
    margin-top: 10px;
}
#ft{
    border-radius: 50%;
}